@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    text-decoration: none;
    box-sizing: border-box;
}

body{
    background-color: rgb(27, 48, 27);
}

header{
    /* border: 2px solid white; */
    width: 100%;
    height: 250px;
    /* display: flex; */
}

.top__header{
    /* border: 5px solid rgb(48, 250, 8); */
    /* border-bottom: 2px solid white; */
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.genre{
    /* border: 2px solid red; */
    width: 290px;
    height: 100px;
    position: relative;
    left: 50px;
}

.categorie{
    /* border: 2px solid white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 280px;
    margin: auto;
}

.categorie a{
    color: white;
    font-size: 25px;
    font-family: sans-serif;
}

.categorie a:hover{
    border-bottom: 2px solid white;
}

.logo{
    /* border: 2px solid orange; */
    width: 350px;
    height: 120px;
    position: relative;
    left: 60px;
}

.logo h1{
    background: -webkit-linear-gradient(#eee, #5e5e5e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 40px;
}


.right__box{
    /* border: 3px solid purple; */
    width: 400px;
    height: 99%;
    position: relative;
    z-index: 9;
}

.img__box{
    /* border: 2px solid orange; */
    width: 100px;
    height: 50%;
    float: right;
}


.img__box img{
    width: 100%;
    height: 100%;
    /* margin-left: 30px; */
}

.other{
    /* border: 2px solid white; */
    width: 49%;
    height: 50%;
    position: absolute;
    z-index: 5;
}

.lang__switch{
    border: 2px solid #000;
    width: 40%;
    height: 90%;
    position: absolute;
    border-radius: 50%;
    text-align: center;
}


.lang__switch img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
}



.favori ion-icon{
    font-size: 75px;
    color: #eee;
    float: right;
}

.top__heart{
    transition: 0.5s all;
}

/* .top__heart:hover{
    color: rgb(148, 6, 6);
} */

.bot__header{
    /* border: 2px solid red; */
    width: 100%;
    height: 60px;
    transition: 1s all;

}

.slider{
    border: 1px solid white;
    margin: auto;
    width: 125px;
    height: 17px;
    border-radius: 15px;
    background-color: #7c7b7b;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    transition: 1s all;
}

.bot__header:hover {
    /* border: 2px solid white; */
    height: 70%;
}

.bot__header:hover .slider{
    margin-top: 10px;
}


.text__box{
    transition: 1s all;
    height: 100%;
    color: white;
    display: flex;
    text-align: center;
    font-family: 'Roboto', sans-serif
}

.link__dif_obj{
    margin: auto;
}

.text{
    transition: 0.5s all;
    text-align: center;
    margin: auto;
    color: transparent;
}


.bot__header:hover .text{
    color: white;
}

.separator{
    /* border: 2px solid green; */
    width: 100%;
    height: 250px;
}

.all__obj_box{
    margin: auto;
    width: 80%;
    height: 150vh;
    display: grid;
    grid-template-columns: 250px 250px 250px 320px;
    align-items: start;
    justify-content: space-between; 
}

.box{
    /* border: 2px solid white; */
    height: 450px;
    width: 320px;

}

.top__box{
    /* border: 2px solid #ff0000; */
    width: 100%;
    height: 75%;
}

.top__box .ob1{
    width: 100%;
    height: 100%;
    transition: 1s all;
    border-radius: 10px;
}

.top__box .ob2{
    width: 100%;
    height: 100%;
    transition: 1s all;
    border-radius: 10px;
}

.top__box .ob3{
    width: 100%;
    height: 100%;
    transition: 1s all;
    border-radius: 10px;
}

.top__box .ob4{
    width: 100%;
    height: 100%;
    transition: 1s all;
    border-radius: 10px;
}

.top__box .ob5{
    width: 100%;
    height: 100%;
    transition: 1s all;
    border-radius: 10px;
}

.top__box .ob6{
    width: 100%;
    height: 100%;
    transition: 1s all;
    border-radius: 10px;
}

.top__box .ob7{
    width: 100%;
    height: 100%;
    transition: 1s all;
    border-radius: 10px;
}

.top__box .ob8{
    width: 100%;
    height: 100%;
    transition: 1s all;
    border-radius: 10px;
}

.top__box .ob9{
    width: 100%;
    height: 100%;
    transition: 1s all;
    border-radius: 10px;
}

.top__box .ob10{
    width: 100%;
    height: 100%;
    transition: 1s all;
    border-radius: 10px;
}

.top__box .ob11{
    width: 100%;
    height: 100%;
    transition: 1s all;
    border-radius: 10px;
}

.top__box .ob12{
    width: 100%;
    height: 100%;
    transition: 1s all;
    border-radius: 10px;
}

.top__box .ob1:hover{
    content: url("https://cdn-images.farfetch-contents.com/19/28/72/08/19287208_44297142_1000.jpg");
}

.top__box .ob2:hover{
    content: url("https://cdn-images.farfetch-contents.com/19/75/64/33/19756433_44303073_1000.jpg");
}

.top__box .ob3:hover{
    content: url("https://cdn-images.farfetch-contents.com/18/57/04/14/18570414_40529551_1000.jpg");
}

.top__box .ob4:hover{
    content: url("https://cdn-images.farfetch-contents.com/18/97/68/81/18976881_44320535_1000.jpg");
}

.top__box .ob5:hover{
    content: url("https://cdn-images.farfetch-contents.com/19/76/13/40/19761340_44328950_1000.jpg");
}

.top__box .ob6:hover{
    content: url("https://cdn-images.farfetch-contents.com/19/71/33/85/19713385_44283889_1000.jpg");
}

.top__box .ob7:hover{
    content: url("https://cdn-images.farfetch-contents.com/19/76/64/05/19766405_44330206_1000.jpg");
}

.top__box .ob8:hover{
    content: url("https://cdn-images.farfetch-contents.com/19/73/69/94/19736994_44137375_1000.jpg");
}

.top__box .ob9:hover{
    content: url("https://cdn-images.farfetch-contents.com/19/73/35/41/19733541_44189195_1000.jpg");
}

.top__box .ob10:hover{
    content: url("https://cdn-images.farfetch-contents.com/18/68/69/01/18686901_43960404_1000.jpg");
}

.top__box .ob11:hover{
    content: url("https://cdn-images.farfetch-contents.com/19/71/81/39/19718139_44181478_1000.jpg");
}

.top__box .ob12:hover{
    content: url("https://cdn-images.farfetch-contents.com/18/81/55/34/18815534_44044285_1000.jpg");
}


.bot__box{
    /* border: 2px solid gold; */
    width: 100%;
    height: 25%;
}

.bot__box h1{
    color: rgb(231, 231, 231);
    font-family: sans-serif;
    margin-top: 0px;
    font-size: 30px;
}


.left__box{
    /* border: 2px solid #000; */
    width: 80%;
    height: 100%;
}

.right__box_obj{
    width: 20%;
    /* border: 2px solid purple; */
    float: right;
    position: relative;
    bottom: 105px;
    cursor: default;
}

.right__box_obj p{
    color: rgb(117, 117, 117);
    font-size: 13px;
    font-family: sans-serif;
    text-align: center;
}

.right__box_obj #id1{
    color: white;
}

.right__box_obj #id6{
    color: white;
}

.right__box_obj #id7{
    color: white;
}

.right__box_obj #id10{
    color: white;
}

.right__box_obj #id15{
    color: white;
}

.right__box_obj #id17{
    color: white;
}

.right__box_obj #id21{
    color: white;
}

.right__box_obj #id24{
    color: white;
}

.right__box_obj #id25{
    color: white;
}

.right__box_obj #id28{
    color: white;
}

.right__box_obj #id32{
    color: white;
}

.right__box_obj #id34{
    color: white;
}

.bot__box .type__obj{
    color: rgb(136, 136, 136);
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    bottom: 15px;
}

.price{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    bottom: 35px;
}

.heart{
    color: #5e5e5e;
    font-size: 35px;
    position: absolute;
    transition: 0.5s all;
    border-radius: 10px;
}

.heart:hover{
    content:attr(name'heart');
    background-color: #969696;
    color:rgb(156, 0, 0);
}

footer{
    background-color: #5e5e5e;
    width: 100.7%;
    height: 100px;
    position: relative;
    right: 7px;
    margin-top: 150px;
}