@import url(https://fonts.googleapis.com/css2?family=Poppins&display=swap%27);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap%27);


body{
    margin: 0;
    padding: 0;
    background-color: rgb(27, 48, 27);
    ;
    flex-wrap: wrap;
    /* background-image: url(/tkty.jpg); */
    background-position: right;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

/* header */
.categorie_genre{
display: flex;
font-size: 35px;
margin-top: 30px;
border-radius: 10px;
width: 380px;
height: 70px;



}

.categorie_genre a {
    text-decoration: none;
    margin: 0 10px;
    padding: center;
    color: rgb(255, 255, 255);


   

}
 a:hover {
    text-decoration: underline;
  color: rgb(255, 255, 255);

}





/* .material-symbols-outlined {
margin-top:300px ;
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 200,
  'opsz' 48
} */



/* select {
    margin-top: 55px;
    font-size: 15px;
    padding: 2px 5px;
    width: 100px;
    height: 50px;
    margin-left: 250px;
    padding: 0;
    
    
} */

.favoris{
    margin-top: 30px;
    font-size: 35px;
    margin-left:300px;
    color: white;
    
}


.account{
    margin-top: 30px;
    font-size: 35px;
    margin-left: 100px;
    margin-right: 80px;
}

.account a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    cursor: pointer;

}

header{
    border-bottom: 4px solid rgb(152, 152, 152);
    display: flex;
    
}
/* header */

/* section */

.categorie_chaussure{
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
    animation: opa 2s ease-in-out;
    
}

.categorie_chaussure a{
    text-decoration: none;
    margin: 0 10px;
    color: rgb(246, 246, 246);

}

.categorie_chaussure a:hover{
    text-decoration: underline;
    transition: 2s all;
}


@keyframes opa{
    0%{opacity: 0;}

    100%{opacity: 1;}
}



/* section */


/* chaussure */
.container_1{
    border: 4px solid white;
    width: 254px;
    height: 252px;
    margin-left: 50px;
    margin-top: 100px;
    margin:  65px;
    margin: auto;
}

.container_1:hover {
    animation: 1s linear 0s  slider;
    color: white;
    animation-fill-mode: forwards;

    
    }
.container{
    display: flex;
}
    .categ:hover  {
        font-size: 30px;
    transition: all 1s ;
text-align: center;
color: white;
    }
.im_1 img{
    border: 3px solid white;
}

@keyframes slider {
    0%{height: 250px;}

    20%{height: 300px;}

    40%{height: 350px;}

    60%{height: 400px;}

    80%{height: 400px;}

    100%{height: 400px;}
}
   


.categ{
    color: transparent;
}

.logo h1{
    background: -webkit-linear-gradient(#eee, #5e5e5e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 30px;
    display: flex;
}

.logo{
    width: 450px;
    height: 120px;
    position: relative;
    /* border: 2px black solid; */
    margin-left: 350px;
    
}
/* chaussure */