body{
    margin: 0;
    padding: 0;
    background-image: url(/tkty.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* backdrop-filter: sepia(90%); */
    display: block;
}


.container{
margin: auto;
    margin-top: 200px;
    border: 5px dashed white;
    width: 300px;
    height: 400px;
    backdrop-filter: blur(10px);
}

h1{
    font-size: 45px;
    color: white;
    padding-left: 50px;
}

input{
    margin-left: 50px;
    width: 200px;
    height: 30px;
    font-size: 15px;
    

}
label{
    font-size: 23px;
    color: white;
    padding-left: 50px;

}

.but input{
    width: 100px;
    height: 30px;
    margin-top: 20px;
    margin-left: 100px;
    
}

input:hover{
    background-color: rgb(151, 44, 44);
    transition: all 3s;
}


.inscri{
    margin-top: 500px;
    font-size: 17.3px;

}