@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    box-sizing: border-box;
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    font-family: sans-serif;
    background-color: rgb(27, 44, 27); 
}

content{
    /* border: 2px solid red;  */
    width: 100%;
    height: 1000px;
}

header{
    /* border: 5px solid green; */
    width: 100%;
}

.slider{
    position: absolute;
    background-color: rgb(15, 28, 15);
    height: 200vh;
    width: 50px;
    transition: 1s ease-in-out;
    z-index: 15;
}

.slider:hover{
    width: 220px;
}

.slider:hover::before{
    width: 20px;
}

.logo__box img{
    width: 50px;
    height: 50px;
    transition: 1s all;
}

.slider:hover .logo__box img{
    width: 200px;
    height: 200px;
    transition: 3s all;

}

.categorie{
    /* border: 2px solid white; */
    margin-top: 170px;
}

.categorie a{
    color: transparent;
    font-size: 10px;
    text-align: center;
    transition: 1s all;
}

.slider:hover .categorie a{
    transition-duration: 2s;
    color: white;
    font-size: 20px;
}

.top__box{
    /* border: 2px solid red; */
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 300px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.news__text{
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    color:white;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
}

.center__box{
    border: 2px solid aliceblue;
    border-radius: 15px;
    margin: auto;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 1s all;
}

.center__box .box__text{
    font-family: sans-serif;
    color: aliceblue;
}

.center__box:hover{
    /* background-color: rgb(201, 201, 201); */
    backdrop-filter: blur(10px);
}


.top__img{
    /* border: 2px solid #000; */
    width: 100%;
    height: 400px;
}

.top__img img{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    
    border-radius: 15px;
    opacity: 75%;
}


.mid__box{
    /* border: 2px solid white; */
    width: 100%;
    margin: auto;
}




.box{
    /* border: 2px solid purple; */
    width: 1600px;
    height: 540px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 49px;
}

.winter__clothes_box{
    width: 500px;
    height: 500px;
    margin-top: 5px; 

}

.winter__clothe{
    width: 500px;
}

.winter__clothe .img__frame{
    height: 400px;
    width: 350px;
    margin: auto;
}

.complete__bg_winter{
    background-color: white;
    border-radius: 10px;
}


.winter__clothe p {
    font-size: 40px;
    color: white;
    margin-left: 80px;
}


.collab__box{
    width: 502px;
    height: 500px;
    margin-top: 5px; 
}


.collab{
    margin: auto;
}

.frame{
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
    background-color: rgb(253, 253, 253);
    width: 500px;
    height: 402px;
    /* margin-top:400px ; */
    border: 2px solid white;
}

.img__frame_2{
    width: 360px;
    height: 410px;
    margin: auto;

}

.frame img{
    border-radius: 10px;
}

.collab p{
    font-size: 40px;
    color: white;
    margin-left: 170px;
}

.survetement__clothes_box{
    width: 500px;
    height: 500px;
    /* border: 2px solid red; */
}

.survete__clothe p {
    font-size: 40px;
    color: white;
    margin-left: 90px;
}

.complete__bg_survetement{
    background-color: #c7c7c7;
    border-radius: 10px;
    margin: auto;
}

.img__frame_3{
    margin: auto;
    /* border: 2px solid rgb(51, 207, 20); */
    width: 355px;
    height: 405px;

}
