body {
    margin: 0;
    padding: 0;
    display: flex;

    background-color: rgb(15, 28, 15);
    /* background-image: url(/Cavakas\ Clothes.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
}

nav {
    background-color: rgb(15, 28, 15);
    height: 100vh;
    width: 0px;

}

/* .container_1 img{ */


.categorie {
    color: white;
    font-size: 20px;
    text-align: center;
    display: none;

}


.vete_1 {
    margin-left: 150px;
    margin-top: 400px;
    position: relative;
}



.vete_1 img {
    border: 3px solid white;
    border-radius: 10px;
}


.vete_1 p {
    font-size: 40px;
    color: white;
    margin-left: 80px;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 60px;
    color: aliceblue;
    text-align: Center;
    background: rgb(27, 44, 27);
    background: linear-gradient(90deg, rgba(27, 44, 27, 1) 14%, rgba(193, 205, 193, 1) 51%, rgba(15, 28, 15, 1) 87%);
    height: 90px;
    width: 500px;
}





.block {
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
    background-color: black;
    width: 500px;
    height: 400px;
    margin-top: 400px;
    margin-right: 100px;

}

.vete_2 p {
    font-size: 40px;
    color: white;
    margin-left: 170px;
}

nav:hover .categorie {
    width: 200px;
    border-right: 6px solid black;
    color: white;
    animation: 4s linear 0s categorie;
    display: contents;

}









@keyframes categorie {

    from {
        left: 0;
    }

    to {
        left: 100px;
    }

}